:root {
    --main-background-color: #F7F4EA;
    --button-color-primary: #426b69;
    --button-color-secondary: #fa7e61;
    --accent-color-1: #2A4849;
    --accent-color-2: #492C1D;
    --header-color: #617073;
}